# Same sa password as ms-iam-db
MSSQL_SA_PASSWORD=change-me
# Runtime user for notification-service
NOTIFICATION_APP_PASSWORD=change-me
# Liquibase migration user
NOTIFICATION_MIGRATOR_PASSWORD=change-me
